@model burgerSystem.Models.burger_type

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>burger_type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.typeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.typeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
